:root {
    --thm-gray-color: #707377;
    --thm-gray-color-rgb: 112, 115, 119;
    --thm-primary-color: #0569fd;
    --thm-primary-color-rgb: 5, 105, 253;
    --thm-black-color: #111a2b;
    --thm-black-color-rgb: 17, 26, 43;
    --thm-black-color-bg: #131d30;
    --thm-black-color-bg-rgb: 19, 29, 48;
}





/*--------------------------------------------------
# End Css 
----------------------------------------------------*/